{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{% static 'delivery/styletheme.css' %}">
</head>
<body>

<div class="container">

    <h3>Welcome to MealBuddy! 🍱💜</h3>

    <h6>If you're a new user:</h6>
    <a href="open_signup">SIGN UP</a>

    <br><br>

    <h6>If you're an existing user:</h6>
    <a href="open_signin">SIGN IN</a>

</div>

</body>
</html>